/* Basic reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #282663;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    position: relative;
}

#map {
    height: 700px;
    width: 900px;
}